@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Game</h1>
    <h2>Welcome to our game beta</h2>
</div>
<h1>Guide</h1>
<pre><b>User               Pass</b>
Pieter             12345678
Vedro              QWE123975
more...
</pre>

