@{
    ViewBag.Title = "Kontr Strike";
}

<div class="jumbotron">
    <h1>Hra - Kontr Strike</h1>
    <h2>Vitajte v tejto hre na život a na "Test sa nepodarilo skompilovať"</h2>
</div>
<h1>Cheat-Sheet</h1>
<pre><b>Meno               Heslo</b>
Pieter             12345678
Vedro              QWE123975
more...
</pre>

