/*/body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img.clan-list-img {
    max-width: 150px;
    max-height: 100px;
}

/*.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: black;
}

li.public a {
    color: grey;
}
    
.navbar-inverse {
    background-color: #17a2b8;
}*/

.wrapper {
    overflow: hidden;
    width: 970px;
    margin: 40px auto;
}
        .sign {
            width: 400px;
            height: 260px;
            background-size: cover;
        }
        .left, .right, .result {
            float: left;
        }
        .result {
            width: 170px;
            height: 140px;
            background-size: cover;
            font-size: 46px;
            text-align: center;
            padding-top: 40px;
            margin-top: 25px;
        }
        .position {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            padding-top: 33px;
        }
        .name {
            text-align: center;
            font-size: 21px;
            font-weight: bold;
        }
        .stats {
            width: 300px;
            margin-left: 50px;
            margin-top: 10px;
            text-align:center;
        }
        .stat-label {
            font-weight: bold;
        }